<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to "Wikinimous", articles_path, class:"navbar-brand" %>
    <%= link_to "New article", new_article_path, class:"navbar-brand" %>
  </div>
</nav>
  </div>
  <div class="container w-5">
    <%= yield %>
  </div>
  </body>
</html>
